/University/nbproject/private/
/University/build/
/Listas/nbproject/private/
/Calculadora/nbproject/private/
/Calculadora/build/
/ListasDobles/nbproject/private/
/ListasDobles/build/
/ClinicasCaracas/nbproject/private/
/ClinicasCaracas/build/
/Proyecto 1 José/nbproject/private/
/Spotify/nbproject/private/
/Urbanización/nbproject/private/
/Urbanización/build/
