/University/nbproject/private/
/University/build/
/Listas/nbproject/private/
/Calculadora/nbproject/private/
/Calculadora/build/
/ListasDobles/nbproject/private/
/ListasDobles/build/
/ClinicasCaracas/nbproject/private/
/ClinicasCaracas/build/
/Proyecto 1 José/nbproject/private/
/Spotify/nbproject/private/
/Urbanización/nbproject/private/
/Urbanización/build/
/ListasCirculares/nbproject/private/
/ListasCirculares/build/
/ListasCirculares2/nbproject/private/
/ListasCirculares2/build/
/ListasSArray/nbproject/private/
/ListasSArray/build/
/ListasCircularesS/nbproject/private/
/ListasCircularesS/build/
/College/nbproject/private/
/College/build/
/PreQuiz/nbproject/private/
/PreQuiz/build/
/UNIMET/nbproject/private/
/UNIMET/build/
/QuizUno/nbproject/private/
/Spotify/build/
